.authContainer {
    /* border: 2px solid red; */
    width: 30%;
    margin: auto;
    margin-top: 2%;
}



/* ***************************************************************************************************************** */
/* ************************************************RESPONSIVE******************************************************* */
/* **************************************************DESIGN********************************************************* */
/* ***************************************************************************************************************** */


@media only screen and (max-width: 1050px) {
    .authContainer {
        margin-top: 5%;
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .authContainer {
        margin-top: 5%;
        width: 90%;
    }
}