.flex {
    display: flex;
    width: 40%;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    margin: 0.7% auto;
    /* margin: auto; */
    border-radius: 8px;
}

.flex > div {
    flex-basis: 50%;
    /* border: 2px solid green; */
}

.flex > div:nth-child(1), .flex > div:nth-child(2) {
    background-color: #014e86;
    color: white;
}

.flex > div:nth-child(1) {
    border-top-left-radius: 8px;
}

.flex > div:nth-child(2) {
    border-top-right-radius: 8px;
}

.flex > div:nth-child(3) > div, .flex > div:nth-child(4) > div {
    border-radius: 6px;
}

.flex > div:nth-child(3) > div, .flex > div:nth-child(4) > div {
    /* border: 2px solid yellow; */
    padding: 0% 5%;
    background-color: #e9ecef;
}

.flex > div:nth-child(3) > div {
    margin: 2% 1% 2% 2%;
}

.flex > div:nth-child(4) > div {
    margin: 2% 2% 2% 1%;
}

.flex > div:nth-child(3) > div {
    text-align: left;
}

.flex > div:nth-child(4) > div {
    text-align: right;
}



/* ***************************************************************************************************************** */
/* ************************************************RESPONSIVE******************************************************* */
/* **************************************************DESIGN********************************************************* */
/* ***************************************************************************************************************** */



@media only screen and (max-width: 1050px) {
    .flex {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .flex {
        width: 90%;
        font-size: 12px;
    }
}