.flex {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
}

.box {
    display: flex;
    /* border: 2px solid red; */
    width: 40%;
    justify-content: space-around;
    /* margin: auto; */
    background-color: #FDCBFC70;
    font-weight: bold;
    padding: 0.5%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 0.5%;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19); */
}

.box input {
    font-weight: bold;
    border-radius: 8px;
    border: 0px;
    padding: 0.5% 2%;
}

.basis {
    flex-basis: 20%;
    text-align: left;
}

.historyBox {
    /* border: 2px solid #ff0000; */
    /* margin-bottom: 1%; */
    box-sizing: border-box;
    overflow: hidden;
    /* padding: -5%; */
}

.history {
    background-color: rgb(220,255,245);
    border: 0px;
    padding: 0px;
    margin-top: 30%;
}

.history:hover {
    cursor: pointer;
}

.history img {
    width: 30px;
}