.flex {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    /* border: 2px solid red; */
}

.box {
    display: flex;
    /* border: 2px solid green; */
    width: 40%;
    justify-content: space-around;
    /* margin: auto; */
    background-color: #FDCBFC70;
    font-weight: bold;
    padding: 0.5%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 0.5%;
    overflow: hidden;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19); */
}

.box input {
    font-weight: bold;
    border-radius: 8px;
    border: 0px;
    padding: 0.5% 2%;
    width: 30%;
}

.box button {
    width: 10%;
    overflow: hidden;
}

.basis {
    flex-basis: 18%;
    text-align: left;
    overflow: hidden;
}

.historyBox {
    /* border: 2px solid #ff0000; */
    /* margin-bottom: 1%; */
    box-sizing: border-box;
    overflow: hidden;
    /* padding: -5%; */
}

.history {
    background-color: rgb(220,255,245);
    border: 0px;
    padding: 0px;
    margin-top: 30%;
}

.history:hover {
    cursor: pointer;
}

.history img {
    width: 30px;
}



/* ***************************************************************************************************************** */
/* ************************************************RESPONSIVE******************************************************* */
/* **************************************************DESIGN********************************************************* */
/* ***************************************************************************************************************** */

@media only screen and (max-width: 1050px) {
    .box {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .box {
        width: 85%;
        /* border: 2px solid blue; */
        overflow: hidden;
        font-size: 15px;
    }

    .box > input {
        /* font-weight: bold; */
        border-radius: 6px;
        /* border: 0px; */
        padding: 0.5% 2%;
        width: 25%;
        font-size: 12px;
    }

    .box > button {
        font-size: 8px;
    }

    .historyBox h2 {
        font-size: 15px;
    }
}

