.flex {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    padding: 1.5%;
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    /* background-color: green; */
    background-color: #8AF7E4;
    background-color: #c19ee0;
    background-image: linear-gradient(to right, #c19ee0, #8AF7E4);
}

.flex a {
    /* border: 2px solid red; */
    padding: 2%;
    text-decoration: none;
    color: black;
    /* background-color: red; */
    opacity: 0.9;
    font-weight: bold;
}

.flex a:hover {
    letter-spacing: 1px;
    transition: all 0.3s;
    opacity: 1;
}
