.box {
    display: flex;
    width: 35%;
    margin: auto;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-evenly;
    border-radius: 8px;
    /* background-color: #fdcbfc70; */
    background-color: #8AF7E450;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.padding {
    padding: 0.5% 1%;
    border: 0px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.padding:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0px;
}

.padding:nth-child(2) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 0px;
    background-color: #48cae4ad;
}

.create_grp_btn {
    border-radius: 8px;
    padding: 0.5% 1%;
    border: 0px;
    font-weight: bold;
    background-color: #48cae4ad;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
}

.create_grp_btn:hover, .padding:nth-child(2):hover {
    cursor: pointer;
    background-color: #48cae4d5;
}

.empty {
    /* border: 2px solid red; */
    width: 47%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}